body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

header {
  text-align: center;
  border: 1px solid red;
  background-color: aqua;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.name {
  font-family: "Qwitcher Grypen", cursive;
  font-size: 80px;
  font-weight: 700;
  font-style: normal;
}

.btn {
  color: #fff;
  background-color: #156663;
  padding: 8px 16px;
  border-radius: 08%;
}
